.footer-social {
  padding: 0;
  list-style: none;
}

.footer-social__item {
  width: 46px;
  height: 48px;
  background-color: @primary-color;
}

.footer-social__link {
  display: block;
  width: 46px;
  height: 48px;
  z-index: 2;
  background-repeat: no-repeat;
}

.footer-social__link--twitter {
  background-image: url("../../img/icon-twitter.svg");
}

.footer-social__link--facebook {
  background-image: url("../../img/icon-facebook.svg");
}

.footer-social__link--youtube {
  background-image: url("../../img/icon-youtube.svg");
}
